.Menu{
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}

.Menu li{
    display: inline;
    padding: 0 1rem;
}

.Menu li a{
    text-decoration: none;
    color: #130f26;
    transition: 0.2s ease-in-out ;
}

.Menu li a:hover{
    color: #2fbbca;
    transition: 0.2s ease-in-out ;
}

.search{
    border-radius: 1rem;
    padding: 1rem 1rem;
    vertical-align: -0.4rem;
    background-image: url(../images/search.svg);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    transition: 0.3s ease-in-out ;
}

a[href="#search"]:hover .search{
    background-color:#efefef;
}
    